rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    //Check if the user is signed in and if they own the document
    function isSignedInOwner(user) {
      return request.auth.uid != null && request.auth.uid == user;
    }
    //Check if the user is authenticated
    function isUserAuthorised() {
    	return request.auth.uid != null;
    }
    
    //USERS Collection
    match /users/{user} {
    	allow write: if isSignedInOwner(user);
      allow read: if isUserAuthorised();
      //Goals subcollection
      match /goals/{goal} {
      	allow write: if isSignedInOwner(user);
        allow read: if isUserAuthorised();
      }
      //Preferences subcollection
      match /preferences/{pref} {
      	allow read, write: if isSignedInOwner(user);
      }
      //Activity subcollection
      match /activity/{act} {
      	allow read, write: if isSignedInOwner(user);
      }
      //Wallet subcollection
      match /wallet/{user} {
      	allow create: if isSignedInOwner(user);
        allow update: if isSignedInOwner(user);
        allow read: if isUserAuthorised();
      }
      //Notifications subcollection
      match /notifications/{notification} {
      	allow read, write: if isSignedInOwner(user);
      }
      //Activity subcollection
      match /activity/{activityDoc} {
      	allow read, write: if isSignedInOwner(user);
      }
    }
    
    //TRANSACTIONS Collection
    match /transactions/{transaction} {
    	allow read: if isUserAuthorised();
    }
    
    //LOANS Collection
    match /loans/{loan} {
    	allow read, write: if isUserAuthorised();
    }
    
    //GROUPS Collection
    match /groups/{group} {
    	allow read, write: if isUserAuthorised();
      match /members/{member} {
      	allow read: if isUserAuthorised();
      }
    }
    
    //REEDEMABLES Collection
    match /redeemables/{redeemable} {
    	allow read, write: if isUserAuthorised();
    }
    
    //INVESTMENTS Collection
    match /investments/{investment=**} {
    	allow read: if isUserAuthorised();
    }
    
    //DEPOSITS Collection
    match /deposits/{deposit} {
    	allow read: if isUserAuthorised() && exists(/databases/$(database)/documents/users/$(request.auth.uid));
      allow create: if isUserAuthorised() && (request.resource.data.uid == request.auth.uid);
    }
    
    //AUTOCREATES Collection
    match /autocreates/{autocreate} {
    	allow read, write: if isUserAuthorised();
    }
    
    //WITHDRAWALS Collection
    match /withdrawals/{withdraw} {
    	allow write: if isUserAuthorised();
    }
    
    //CAPTURES Collection
    match /captures/{capture} {
    	allow read: if isUserAuthorised() && exists(/databases/$(database)/documents/users/$(request.auth.uid))
    }
    
  }
}